doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src='/images/logo.JPG' alt="logo")
    nav
      ul
        li
          a(href="/") Top
        li
          a(href="/about") About
        li
          a(href="/login") Login
        li
          a(href="/home") Home
    block content
